* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eceaea;
}

h1 {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

.form-container {
    padding: 3rem 0;
    box-shadow:  -1px 11px 51px -11px #00000036;
    display: flex;
    justify-content: center;
}

#form {
    width: 80%;
    display: flex;
}

.inputs-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs-group input {
    padding: 1rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

#new-todo {
    border-bottom: 1px solid #000000;
    border-radius: .5rem 0 0 0;
}

#author {
    border-radius: 0 0 0 .5rem;
}

#add-btn {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0 .5rem .5rem 0;
}

.todo-list-container {
    width: 80%;
    margin: 2rem auto .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: .5rem;
    border-radius: .5rem;
    box-shadow:  -1px 11px 51px -11px #00000036;
}

#check {
    width: 30px;
    height: 30px;
    margin: 0 1rem;
    accent-color: #000000;
    cursor: pointer;
}

.main-todo {
    flex: 1;
    height: 100%;
    margin-left: .5rem;
}

.time-and-author {
    display: flex;
    margin-bottom: 1rem;
}

.todo-title {
    font-size: 1.3rem;
}

#time {
    margin-right: 3rem;
}

.move-todo {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.action-todo {
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    padding: .5rem;
    font-size: 2rem;
    cursor: pointer;
}

.completed {
    background-color: transparent;
}

.sort-section {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#sort {
    width: 200px;
    padding: .7rem;
    font-size: 1.2rem;
    background-color: #000000;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: .5rem;
}